google-ai-generativelanguage
google-auth
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
python-dotenv
fastapi~=0.111.0
uvicorn~=0.30.1
pydantic~=1.10.15
PyYAML~=6.0.1